body {
  position: static;
  /*margin: 0;
  margin-top: 40px;*/
  /*font-family: "Arimo", sans-serif;*/
  font-size: 16px;
  line-height: 1.5em;
  color: #222222;
  background-color: #ffffff;
  text-align: justify;
  /*border-bottom: 1px solid #e1e1e8;*/
}

/* color of links, like post titles */
a:link { 
  color: #1A3380; 
}
a:hover { 
  color: #009999; 
}

a:visited {
  color:#008AE6;
}

h1 {
  font-size:150%;
}

h2 {
  font-size: 140%;
}

h3 {
  font-size: 125%;
}

h4 {
  font-size: 110%;
}

/* keep the paragraphs narrow enough. */
.body-content, li, p {
  max-width: 750px;
}
